.main-div {
    width: 80%;
    height: 800px;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    background: #D4D7E8;
    border: 2px solid #000000;
}
.heart-div{
    height: 95%;
    width: 80%;
    margin: auto;
    border: solid;
}