<div class="main d-flex">
    <div class="left d-flex">
        <div class="profile-pic"></div>
        <div class="text-center">
            <h2>Goga Gabunia</h2>
            <p>Platform ID: 1697532</p>
            <p>Georgia | Tester</p>
        </div>
        <div>
            <p>Your Referral Link: https://www.utest.com/ref1697532</p>
        </div>
    </div>
    <div class="right">
        <div>
            <li><h1>Score:</h1></li>
            <li><h1>Rank:</h1></li>
            <li><h1>Followers:</h1></li>
            <li><h1>Following:</h1></li>
        </div>
        <div>
            <li><h1>523</h1></li>
            <li><h1>5/2000</h1></li>
            <li><h1>23</h1></li>
            <li><h1>13</h1></li>
        </div>
    </div>
</div>