<form class="m-5 d-flex">
    <div class="card">
        <h2 class="text-center">Desktop and Laptop</h2>
        <div class="devices">
            <div class="device"></div>
            <div class="device"></div>
        </div>
        <button class="add">Add Device</button>
    </div>
    <div class="card">
        <h2 class="text-center">Mobile and Tablet</h2>
        <div class="devices">
            <div class="device"></div>

        </div>
        <button class="add">Add Device</button>
    </div>
    <div class="card">
        <h2 class="text-center">Consoles and Wearables</h2>
        <div class="devices">
            <div class="device"></div>

        </div>
        <button class="add">Add Device</button>
    </div>
    <div class="card">
        <h2 class="text-center">Cars and Motorcycles</h2>
        <div class="devices">
            <div class="device"></div>

        </div>
        <button class="add">Add Device</button>
    </div>
</form>