<form class="m-5 d-flex">
  <div class="card">
    <img src="../../assets/Profile.png" alt="">
    <input type="file" id="picture" name="picture" accept="image/*" capture="camera" style="display: none;">
    <!-- Custom button label -->
    <label for="picture" class="upload">
      UPLOAD
    </label>
  </div>
  <div class="card">
    <li><input type="text" placeholder=""></li>
    <li><input type="text"></li>
    <li>    </li>
    <li class="d-flex">
      <input type="radio" id="male" name="fav_language" value="male">
      <label for="html" class="mt-2">Male</label><br>
      <input type="radio" id="female" name="fav_language" value="female">
      <label for="css" class="mt-2">Female</label><br>
    </li>
    <li><input type="email"></li>
  </div>
  <div class="card"></div>
</form>