<form>
    <div class="attach-profile d-flex">
        <img src="../../../../../assets/Profile.png" alt="">
        <label for="myfile">Select a file:</label>
        <div class="input-group mb-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile02">
              <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
            </div>
            <div class="input-group-append">
              <span class="input-group-text" id="">Upload</span>
            </div>
          </div>
          
    </div>
    <div>
        <label for="first-name"></label>
        <input type="text" name="first-name" id="first-name">
        <label for="last-name"></label>
        <input type="text" name="last-name" id="last-name">
        <input type="date">
    </div>
    <textarea name="" id="" cols="30" rows="10"></textarea>
</form>
  