form {
    justify-content: space-around;
    height: -webkit-fill-available;
    align-items: center;
    flex-direction: column;

}

.card {
    height: 400px;
    background-color: #D4D7E8;
    list-style: none;
    border-radius: 30px;
    width: 90%;
    margin-bottom: 20px;
}
.right,.left{
    width: 50%;
    height: 100%;
}
.left div{
    width: min-content;

}
.left h3{
    font-family:'Rubik', sans-serif;
    font-size:18px;
    line-height:0em;
}
.left{
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 245px;
}
.left input{
    height: 50px;
    text-align: center;
    border-radius: 50px;
    border: none;
    font-size: 16px;
}
.right{
    
    display: flex;
    flex-direction: column;
    align-items: center;

}
.main{
    width: 500px;
    height: 150px;
}
.inside{
    height: 50%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 20px;
}
.inside h3{
    line-height: 0px;
}
.inside input{
    width: 200px;
    height: 50px;
    border-radius: 40px;
    border: none;
    text-align: center;
}