<form class="m-5 d-flex">
    <div class="card">
        <h2 class="text-center">Payment</h2>
        <div class="d-flex">
            <div class="left d-flex">
                <div>
                    <h3 class="text-center">E-Wallets</h3>
                    <input type="dropdown" placeholder="Select" name="wallet">
                </div>

                <div>
                    <h3 class="text-center">Mobile wallets</h3>
                    <input type="dropdown" placeholder="Select" name="mwallet">
                </div>

                <div>
                    <h3 class="text-center">Alternative Wallets</h3>
                    <input type="dropdown" placeholder="Select" name="awallet">
                </div>
            </div>
            <div class="right">
                <div>
                    <h3>Willing to do purchases (with refunds)</h3>
                    <div class="d-flex" style="justify-content: center;">
                        <div style="margin-right: 20px;">

                            <input type="radio" id="male" name="fav_language" value="male">
                            <label class="mt-2" style="font-weight: 400;">Yes</label>
                        </div>
                        <div>
                            <input type="radio" id="female" name="fav_language" value="female">
                            <label class="mt-2" style="font-weight: 400;">No</label>
                        </div>
                    </div>

                </div>
                <div>
                    <h3>Are you willing to participate in Passive Payment Testing?</h3>
                    <div class="d-flex" style="justify-content: center;">
                        <div style="margin-right: 20px;">
                            <input type="radio" id="male" name="fav_language" value="male">
                            <label class="mt-2" style="font-weight: 400;">Yes</label>
                        </div>
                        <div>
                            <input type="radio" id="female" name="fav_language" value="female">
                            <label class="mt-2" style="font-weight: 400;">No</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <div class="card">
        <h2 class="text-center">Subscription</h2>
        <div class="main m-auto">
            <div class="inside">
                <div>
                    <h3>Entertainment</h3>
                    <input type="dropdown" placeholder="Select">
                </div>
                <div>
                    <h3>Car Sharing Service Select</h3>
                    <input type="dropdown" placeholder="Select">

                </div>
            </div>
            <div class="inside">
                <div>
                    <h3>Loyalty Programs Select</h3>
                    <input type="dropdown" placeholder="Select">

                </div>
                <div>
                    <h3>TV Provider Select</h3>
                    <input type="dropdown" placeholder="Select">
                </div>
            </div>
        </div>


    </div>
</form>