<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <h1>QA LAB ACTIVITY</h1>
            <br>
            <div class="d-flex main-upper">
                <div>
                    <li>QA members</li>
                    <li>QA members online now</li>
                    <li>Test Cycles</li>
                    <li>Products</li>
                </div>
                <div>
                    <li>123</li>
                    <li>12331</li>
                    <li>11</li>
                    <li>0</li>
                </div>
            </div>

        </div>
        <div class="col-6">
            <h1>My Activity</h1>
            <br>
            <div class="d-flex main-upper">
                <div>
                    <li>Test Cycles</li>
                    <li>Issues</li>
                    <li>Test Cycles</li>
                    <li>Test Cases</li>
                </div>
                <div>
                    <li>12</li>
                    <li>12</li>
                    <li>11</li>
                    <li>0</li>
                </div>
            </div>

        </div>
        <div class="col-12">
            <!-- Your content here -->
        </div>
    </div>
</div>