<div class="main-div">
    <div class="dashboard-div">
        <div class="list-unstyled d-flex justify-content-between">
            <li [ngClass]="{ 'invitation-nav': dashOption =='personal'}" (click)="chooseDashboard('personal')">Personal</li>
            <li [ngClass]="{ 'invitation-nav': dashOption =='devices'}" (click)="chooseDashboard('devices')">Devices</li>
            <li [ngClass]="{ 'invitation-nav': dashOption =='payment'}" (click)="chooseDashboard('payment')">Payment Testing</li>
            <li [ngClass]="{ 'invitation-nav': dashOption =='subscriptions'}" (click)="chooseDashboard('subscriptions')">Subscriptions</li>
        </div>
        <div [ngSwitch]="dashOption">
            <div *ngSwitchCase="'personal'" class="log-div pt-3">
                <app-personal></app-personal>
            </div>

            <div *ngSwitchCase="'devices'" class="log-div pt-3">
                
            </div>
            <div *ngSwitchCase="'payment'" class="log-div pt-3">
               
            </div>
            <div *ngSwitchCase="'subscriptions'" class="log-div pt-3">
                
            </div>
        </div>
    </div>
</div>
